<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>org.example.tpo5_s25972.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AutomobileServlet</servlet-name>
        <servlet-class>org.example.tpo5_s25972.AutomobileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutomobileServlet</servlet-name>
        <url-pattern>/automobile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FindServlet</servlet-name>
        <servlet-class>org.example.tpo5_s25972.FindServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindServlet</servlet-name>
        <url-pattern>/find</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowServlet</servlet-name>
        <servlet-class>org.example.tpo5_s25972.ShowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowServlet</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
